{{yield}}
<td class={{@classes}}>
    {{@column1}}    
</td>
<td class={{@classes}}>
    {{@column2}}       
</td>
<td class={{@classes}}>
    {{@column3}}   
</td>
<td class={{@classes}}>
    {{@column4}}   
</td>
<td class={{@classes}}>
   {{@column5}}   
</td>