{{yield}}
<div>
    <table id="gameInfo">
        <tr>
            <td class="header-table-bg">
                Player X
            </td>
            <td>
               {{@x}}
            </td>
             <td class="header-table-bg">
                Player O
            </td>
            <td>
               {{@o}}
            </td>
             <td class="header-table-bg">
                Player turn
            </td>
            <td>
               {{@turn}}
            </td>
             <td class="header-table-bg">
                Moves played
            </td>
            <td>
               {{@movesPlayed}}
            </td>
        </tr>
    </table>
</div>